server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/city_reservation
    username: city_user
    password: city_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: false

  h2:
    console:
      enabled: false
